<table class="matches table table-hover" ng-if="matches">
	<thead>
		<tr>
			<th>Date</th>
			<th>Match</th>
			<th>1</th>
			<th>X</th>
			<th>2</th>
			<th>more</th>
		</tr>
	</thead>
  <tbody ng-if="countMatches() == 0">
    <tr>
      <td class="no-data" colspan=6>
        {{ 'NO_MATCHES' | translate }}
      </td>
    </tr>
  </tbody>
	<tbody ng-repeat="(matchKey, match) in matches">
		<tr>
			<td class="match-date">
			  {{ printMatchDate(match._id) | amDateFormat:'LL' }}<br>
			  {{ printMatchDate(match._id) | amDateFormat:'LT' }}
			</td>
			<td>{{ printMatch(match._id) }}</td>
			<% ["1", "X", "2"].each do |bet_result| %>
			<td><%= coefficient_button("match", "Full1X2", bet_result) %></td>
			<% end %>
			<td>
			<button ng-click='toggleDetails(matchKey, match)' class="btn btn-default btn-sm ng-binding" type="button">
				{{ moreBetsCount(match) }}
				<i class="glyphicon glyphicon-plus" ng-if="detailsFor != matchKey"></i>
				<i class="glyphicon glyphicon-minus" ng-if="detailsFor == matchKey"></i>
			</button></td>
		</tr>
		<tr ng-if="detailsFor == matchKey">
			<td colspan="6" class="bet-details">
			  <ul class="nav nav-tabs">
			    <li ng-class="{active: betType==selectedBetType}" ng-repeat="(betType, detail) in details"><a href="" ng-click="selectBetType(betType)">{{ betType }}</a></li>
		    </ul>
		    
  			<table class="table" ng-show="selectedBetType === 'Full1X2 Handicap'">
  				<thead>
  					<tr>
  						<th>Handicap</th>
  						<th>1</th>
  						<th>X</th>
  						<th>2</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr ng-repeat="(modifier, odds) in details['Full1X2 Handicap']">
  						<td>{{modifier}}</td>
  						<% ["1", "X", "2"].each do |bet_result| %>
  						<td><%= coefficient_button("match", "Full1X2 Handicap", bet_result, "modifier") %></td>
  						<% end %>
  					</tr>
  				</tbody>
  			</table>
  			<table class="table" ng-show="selectedBetType === 'FullAH'">
  				<thead>
  					<tr>
  						<th>Handicap</th>
  						<th>{{ printMatch(match._id, 1) }}</th>
  						<th>{{ printMatch(match._id, 2) }}</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr ng-repeat="(modifier, odds) in details['FullAH']">
  						<td>{{modifier}}</td>
  						<% ["AH1", "AH2"].each do |bet_result| %>
  						<td><%= coefficient_button("match", "FullAH", bet_result, "modifier") %></td>
  						<% end %>
  					</tr>
  				</tbody>
  			</table>
  			<table class="table" ng-show="selectedBetType === 'FullDoubleChance'">
  				<thead>
  					<tr>
  						<th>12</th>
  						<th>1X</th>
  						<th>X2</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr>
  						<% ["12", "1X", "X2"].each do |bet_result| %>
  						<td><%= coefficient_button("match", "FullDoubleChance", bet_result) %></td>
  						<% end %>
  					</tr>
  				</tbody>
  			</table>
  			<table class="table" ng-show="selectedBetType === 'FullOver/Under'">
  				<thead>
  					<tr>
  						<th>Total number of goals</th>
  						<th>Over</th>
  						<th>Under</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr ng-repeat="(modifier, odds) in details['FullOver/Under']">
  						<td>{{modifier}}</td>
  						<% ["Over", "Under"].each do |bet_result| %>
  						<td><%= coefficient_button("match", "FullOver/Under", bet_result, "modifier") %></td>
  						<% end %>
  					</tr>
  				</tbody>
  			</table>
		  </td>
		</tr>
	</tbody>
</table>
